/**
 * Vars
 */

// Relative to stylesheet URL
$fa-font-path: '../fonts';

// http://brandcolors.net
$color-github:  #4183c4;  // unverified
$color-twitter: #55acee;  // verified

$color-code-bg: floralwhite;

$breakpoint-sm: 600px;
$breakpoint-md: 960px;

$content-max-width: $breakpoint-md;

/**
 * Imports
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&subset=latin-ext);

@import 'node_modules/highlight.js/styles/tomorrow';

@import 'node_modules/font-awesome/scss/variables';
@import 'node_modules/font-awesome/scss/path';
@import 'node_modules/font-awesome/scss/core';
@import 'node_modules/font-awesome/scss/mixins';

@import 'node_modules/normalize.css/normalize';
@import './reset';

@import 'node_modules/stylebox/scss/mixins/layout';
@import 'node_modules/stylebox/scss/mixins/space';


/**
 * Stylebox
 */

@include sb-flex;
@include sb-space($min: 0, $max: 4, $step: 0.25);

/**
 * Mixins
 */

@mixin transition($prop: all, $duration: 0.2s, $function: ease-out) {
  transition: $prop $duration $function;
}

/**
 * Text
 */

html {
  font-family: 'Open Sans', 'Helvetica Neue', Roboto, 'Segoe UI', Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  @media (max-width: $breakpoint-md) {font-size: 14px}
  @media (max-width: $breakpoint-sm) {font-size: 12px}
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre, code {
  font-family: Menlo, Consolas, monospace;
}

.text-1 {font-size: 1rem;}
.text-2 {font-size: 1.2rem;}
.text-3 {font-size: 1.4rem;}
.text-4 {font-size: 1.6rem;}

/**
 * Icons
 */

.fa-arrow-up::before      {content: $fa-var-arrow-up}
.fa-code::before          {content: $fa-var-code}
.fa-github::before        {content: $fa-var-github}
.fa-link::before          {content: $fa-var-link}
.fa-external-link::before {content: $fa-var-external-link}
.fa-twitter::before       {content: $fa-var-twitter}

.fa-github, a.fa-github   {color: $color-github}
.fa-twitter, a.fa-twitter {color: $color-twitter}

/**
 * Themes
 */

.theme-interact-inverse {
  @include transition($duration: 0.1s);

  background-color: white;
  color: black;

  &:hover, &.active {
    background-color: gray;
    &, & .fa {
      color: white;
    }
  }
}

code, .hljs {
  background-color: $color-code-bg;
}

/**
 * Misc
 */

body {
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  // box-shadow: 0 0 6px -2px gray;
}

.stretch-to-viewport-v {
  min-height: 100vh;
  @extend .col-start-stretch;
}

a.decorated {
  border-bottom: 1px dotted;
}

a.decorated[target~=_blank]:not(.fa)::after {
  // Icon.
  content: $fa-var-external-link;
  @include fa-icon();

  // Cosmetic.
  margin-left: 0.3em;
  opacity: 0.5;
  font-size: 0.8em;
}

a.decorated:hover {
  border-bottom: 1px solid;
}

a.undecorated {
  text-decoration: none;
  border: none;
}

article p a {
  @extend a.decorated;
}

a.heading-anchor {
  color: gray;
  font-size: 0.8em;
  margin-left: 0.2em;
}

article {
  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 3rem;
    }
    margin-bottom: 1rem;
  }
}

article p {
  &:not(:first-child) {
    margin-top: 1rem;
  }
  margin-bottom: 1rem;
}

.sidenav {
  @extend .col-start-stretch;
  // min-width: 15%;
  max-width: 50%;
}

.sidenav-link {
  @extend .row-between-center;
  @extend .padding-0x5-v;
  @extend .padding-1-h;
}

.sidenav-link::after {
  content: '→';
  margin-left: 0.5em;
  visibility: hidden;
}

.sidenav-link:hover::after,
.sidenav-link.active::after {
  visibility: visible;
}

.header-fixed {
  // Layout
  $height: 4rem;
  position: fixed;
  height: $height;
  width: 100vw;
  max-width: $content-max-width;
  z-index: 1;
  ~ * {margin-top: $height;}

  // Cosmetic
  background-color: white;
  box-shadow: 0 1px 3px -1px gray;
}

.fat-rectangle {
  @extend .padding-1;
  @extend .row-center-center;
}

article table {
  table-layout: fixed;
  border-collapse: collapse;
}

article th {
  background-color: $color-code-bg;
}

article th, article td {
  @extend .padding-0x5;
  border: 1px solid darken($color-code-bg, 10%);
}

.fg-gray {
  color: gray;
}
