code, pre {
  background-color: aliceblue;
}

.notes {
  padding: $sf-space / 2;
  background-color: aliceblue;
  > * {margin: 0 0 $sf-space 0}
  > :last-child {margin-bottom: 0}
}

/**
 * nav
 */

.nav-h > * {
  display: inline-block;
  padding: $sf-space / 2;
  &:hover, &:focus {
    background-color: rgba(gray, 0.1);
  }
  &.active {
    box-shadow: inset 0 -3px 0 0;
  }
}
