{
  "modules": "common",
  "optional": [
    "spec.protoToAssign",
    "es7.classProperties",
    "es7.decorators",
    "es7.functionBind",
    "validation.undeclaredVariableCheck"
  ],
  "loose": [
    "es6.classes",
    "es6.properties.computed",
    "es6.forOf"
  ]
}
